@media (max-width: 321px){
  /* header */
  header{
    padding-inline: 8px;
  }
  /* home_section2 */
  .home_section2_cards{
    padding-inline: 8px 0;
  }
  .home_section2_h2{
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 42px;
  }
  /* artwork-section  */
  .artwork_section{
    padding: 8px;
  }
}