/* font */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
/* container */
.container{
  width: min(100%, 1440px);
  margin: auto;
  padding-top: 95.56px; 
}
/* header */
header{
  max-width: inherit;
  width: inherit;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #402101;
  padding: 26px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fa-bars, .fa-xmark, .fa-arrow-right-to-bracket{
  display: none;
}
.header_ul{
  display: flex;
  column-gap: 60px;
}
.active{
  color: #D5906E;
}
.inactive{
  color:#FFFFFF;
}
.header_list_link{
  font-family: "Inter", sans-serif;                            
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
}
.fa-bars{
  font-size: 32px;
  color: #FFFFFF;
}
.fa-xmark{
  font-size: 32px;
  color: #FFFFFF;
}
.logo_first_word{
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 43.57px;
  color: #FFFFFF;
}
.logo_second_word{
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 43.57px;
  color: #D5906E;
}
.header_right_side{
  display: flex;
  align-items: center;
  column-gap: 16px;
}
.header_right_side_span{
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  color: #FFFFFF;
}
.fa-arrow-right-to-bracket{
  font-size: 24px;
  color: #FFFFFF;
}
.fa-cart-shopping{
  font-size: 24px;
  color: #FFFFFF;
}
/* home_section1 */
.home_section1{
  height: 560px;
  background-image: url("../images/cover1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home_section1_h2{
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: #FFFFFF;
  text-shadow: 4px 4px 2px  #581504;
  margin-bottom: 48px;
}
.home_section1_button{
  width: 168px;
  height: 48px;
  border-radius: 10px;
  border: 2px solid #B53B1B;
  /* box-shadow: 0px 4px 4px 0px #581504;    ჰოვერზე გამოდგება */
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #B53B1B;
  cursor: pointer;
}
/* home_section2 */
.home_section2{
  background-color: #EA904F;
}
.home_section2_gethered{
  padding-block: 120px;
}
.home_section2_h2{
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: #FFFFFF;
  margin-bottom: 40px;
  text-align: center;
}
.home_section2_cards{
  display: flex;  
  gap: 24px;
  overflow-x: scroll;
  padding-inline: 120px;
}
.home_section2_cards::-webkit-scrollbar{/*ეს ერთადერთია რაც ინტერნეტშ ვნახე, იმედია პრობლემა არიქნება ამაზე. სქროლის გაქრობა მინდოდა*/
  display: none;
}
figure{
  padding: 16px;
  background-color: #FFFFFF;
  border-radius: 8px;
  /* box-shadow: 0px 10px 5px 0px #000000; */                /* ჰოვერისთვის დამჭირდება ბოლოს*/
}
figcaption{
  margin-block: 16px 24px;
}
figcaption a{
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #B53B1B;
}
.home_section2_article{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.home_section2_h2_forNumber{
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #B53B1B;
}
.home_section2_button{
  width: 64px;
  height: 32px;
  background-color: #B53B1B;
  border-radius: 8px;
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #FFFFFF;
  cursor: pointer;
}
/* footer */
footer{
  background-color: #402101;
  padding: 80px 120px;
  display: flex;
  justify-content: space-between;
}
.footer_left_box{
  width: 160px;
}
.footer_left_nav{
  margin-bottom: 42px;
}
.footer_left_ul{
  width: 117px;
  height: 88px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.first_font {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #FFFFFF;
}
.second_font {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #FFFFFF;
}
.social_icon_box{
  display: flex;
  justify-content: space-between;
}
.footer_right_nav{
  width: 184px;
}
.middle_info{
  margin-block: 16px;
}
.footer_span{
  margin-right: 16px;
}
.fa-phone, .fa-envelope, .fa-location-dot{
  color: #FFFFFF;
}
.footer_info_style{
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #FFFFFF;
}
/* artwork-section */
.artwork_section{
  background-color: #EA904F;
  padding: 120px;
}
.artwork_section_title_box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 72px;
}
.artwork_section_title{
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: #FFFFFF;
}
.artwork_title_box_button{
  width: 160px;
  height: 45px;
  border: 2px solid #B53B1B;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #FFFFFF;
  cursor: pointer;
}
.artwork_span{
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #402101;
}
.fa-sort{
  font-size: 29px;
  color: #402101;
}
/* cards */
.artwork_cards_section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px 24px;
}
.artwork_figure{
  background-color: #FFFFFF;
  width: 384px;
  /* flex ელემენტები ვერაფრით ავამუშავე, განსაკუთრებით flex_grow არ რეაგირებდა, თორე ვწერდი :/ */
}
.artwork_figure_img{
  object-fit:  cover;
  width: 100%;
  height: 224px;
}
.artwork_figcaption{
  margin-block: 16px 8px;
}
.artwork_figcaption a{
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  color: #B53B1B;
}
.artwork_section_article{ 
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.artwork_section2_h2_forNumber{
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #402101;
}
.artwork_section2_button{
  width: 40px;
  height: 40px;
  background-color: #B53B1B;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.fa-cart-plus{
  font-size: 27px;
  color: #FFFFFF;
}
.main_box{
  display: flex;
  justify-content: center;
}
.button_forNumbers_box{
  display: flex;
  width: 447px;
  margin-top: 72px;
}
.button_forNumbers{
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  width: 56px;
  height: 56px;
  background: transparent;
  cursor: pointer;
}
.second{
  background-color: #B53B1B;
}
.fa-arrow-left{
  font-size: 22px;
}
.numbers_style{
  font-size: 22px;
}
.fa-arrow-right{
  font-size: 22px;
}
/* contact-section1 */
.contact_section1{
  height: 720px;
  background-image: url("../images/Rectangle\ 108.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 160px 0 0 222px;
}
.contact_section_article{
  background-color: cadetblue;
  width: 500px;
  height: 400px;
  border: 1px solid #FFFFFF;
  background-color: #402101E5;  
  border-radius: 10px;
  padding: 24px 30px;
}
.form_title{
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  color: #FFFFFF;
  margin-bottom: 40px;
}
.name_email{
  display: flex;
  justify-content: space-between;
}
input{
  background-color: transparent;
  border: none;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  width: 190px;
  height: 40px;
  outline: none;
  color: #FFFFFF;
}
::placeholder{
  padding-left: 8px;
}
.textarea_box{
  margin-block: 36px;
}
textarea{
  resize: none;
  width: 440px;
  height: 96px;
  border-radius: 8px;
  border: none;
  border: 2px solid #FFFFFF;
  background-color: transparent;
  outline: none;
  color: #FFFFFF;
}
.send_button{
  width: 147px;
  height: 56px;
  border-radius: 10px;
  background-color: #FF543E;
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #FFFFFF;
  cursor: pointer;
}
/*contact-section2*/
.contact_section2{
  background-color: #EA904F;
  padding: 120px 324px;
}
.contact_section2_h2{
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px #000000;
  text-align: center;
  margin-bottom: 40px;
}
.contact_iframe_box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.middle_box{
  margin-block: 72px;
}
.contact_button{
  width: 48px;
  height: 48px;
  border: none;
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  background-color: #B53B1B;
  margin-right: 14px;
}
.fa-phone,
.fa-envelope,
.fa-location-dot{
  font-size: 16px;
}
.button_box_span{
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.78px;
  color: #FFFFFF;
}


















