/* font */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
/* container */
.container{
  width: min(100%, 1440px);
  margin: auto;
  padding-top: 95.56px; 
}
/* header */
header{
  max-width: inherit;
  width: inherit;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #402101;
  padding: 26px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fa-bars, .fa-xmark, .fa-arrow-right-to-bracket{
  display: none;
}
.header_ul{
  display: flex;
  column-gap: 60px;
}
.active{
  color: #D5906E;
}
.inactive{
  color:#FFFFFF;
}
.header_list_link{
  font-family: "Inter", sans-serif;                            
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
}
.fa-bars{
  font-size: 32px;
  color: #FFFFFF;
}
.fa-xmark{
  font-size: 32px;
  color: #FFFFFF;
}
.logo_first_word{
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 43.57px;
  color: #FFFFFF;
}
.logo_second_word{
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 43.57px;
  color: #D5906E;
}
.header_right_side{
  display: flex;
  align-items: center;
  column-gap: 16px;
}
.header_right_side_span{
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  color: #FFFFFF;
}
.fa-arrow-right-to-bracket{
  font-size: 24px;
  color: #FFFFFF;
}
.fa-cart-shopping{
  font-size: 24px;
  color: #FFFFFF;
}
/* home_section1 */
.home_section1{
  height: 560px;
  background-image: url("../images/cover1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home_section1_h2{
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: #FFFFFF;
  text-shadow: 4px 4px 2px  #581504;
  margin-bottom: 48px;
}
.home_section1_button{
  width: 168px;
  height: 48px;
  border-radius: 10px;
  border: 2px solid #B53B1B;
  /* box-shadow: 0px 4px 4px 0px #581504; */    /*ჰოვერზე გამოდგება*/
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #B53B1B;
  cursor: pointer;
}
/* home_section2 */
.home_section2{
  background-color: #EA904F;
}
.home_section2_gethered{
  padding-block: 120px;
}
.home_section2_h2{
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: #FFFFFF;
  margin-bottom: 40px;
  text-align: center;
}
.home_section2_cards{
  display: flex;  
  gap: 24px;
  overflow-x: scroll;
  padding-inline: 120px;
}
.home_section2_cards::-webkit-scrollbar{    /*ეს ინტერნეტშ ვნახე, იმედია პრობლემა არიქნება ამაზე. სქროლის გაქრობა მინდოდა */
  display: none;
}
figure{
  padding: 16px;
  background-color: #FFFFFF;
  border-radius: 8px;
  /* box-shadow: 0px 10px 5px 0px #000000; */                /* ჰოვერისთვის დამჭირდება ბოლოს*/
}
figcaption{
  margin-block: 16px 24px;
}
figcaption a{
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #B53B1B;
}
.home_section2_article{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.home_section2_h2_forNumber{
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #B53B1B;
}
.home_section2_button{
  width: 64px;
  height: 32px;
  background-color: #B53B1B;
  border-radius: 8px;
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #FFFFFF;
  cursor: pointer;
}
/* footer */
footer{
  background-color: #402101;
  padding: 80px 120px;
  display: flex;
  justify-content: space-between;
}
.footer_left_box{
  width: 160px;
}
.footer_left_nav{
  margin-bottom: 42px;
}
.footer_left_ul{
  width: 117px;
  height: 88px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.first_font {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #FFFFFF;
}
.second_font {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #FFFFFF;
}
.social_icon_box{
  display: flex;
  justify-content: space-between;
}
.footer_right_nav{
  width: 184px;
}
.middle_info{
  margin-block: 16px;
}
.footer_span{
  margin-right: 16px;
}
.fa-phone, .fa-envelope, .fa-location-dot{
  color: #FFFFFF;
}
.footer_info_style{
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #FFFFFF;
}















